@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root{
  --branco-fab: #f1f1f1;
  --cinza-fab: #bbc9c9;
  --preto-fab: #22272e;
  --ciano-fab: #267a7a;
  --laranja-fab: #ff8b3f;
  --laranja-claro: #f79858;
  --laranja-escuro: #cc7032;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  background-color: var(--preto-fab);
}

body {
  height: 100%;
}